
body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}
header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}
.addnew{
  	width: 32%;
  	display: inline-block;
  	padding: 20px 0px;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}
label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

button{
	padding: .7em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#0c8cd3;
	border-color: #04324c;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}
